#minilogo{
  color: #4596d8;
  text-align: left;
  font-size: 2em;
}
#content{
	background-color: #40464f;
	padding-top:45px;
	padding-bottom:25px;
	display: flex;
	color:#fff;
}
.topbar{
	margin-bottom: 30px;
}
.topbar h2{
	line-height: 120%;
	font-weight: 50;
	letter-spacing: 1px;
}
.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #4596d8 !important;
    border-color: #4596d8 !important;
}
section{
	padding:20px;
}
.textBody{
	margin-bottom:80px;
}
p{
	font-size: 18px;
}
.sectionArea{
	margin-top:40px;
}
.sectionArea h3{
	margin-top: 2px;
}