#minilogo{
  color: #4596d8;
  text-align: left;
  font-size: 2em;
}
#content{
	background-color: #40464f;
	padding-top:45px;
	padding-bottom:25px;
	display: flex;
	color:#fff;
}
h1{
	color: #4596d8 !important;
}
.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #4596d8 !important;
    border-color: #4596d8 !important;
}
section{
	padding:20px;
}
.textBody{
	margin-bottom:80px;
}
.sectionArea{
	margin-top:40px;
}
.sectionArea h3{
	margin-top: 2px;
}
#grey{
	color:grey !important;
	background-color: white !important;
}	